*,
*::before,
**::after {
  box-sizing: border-box;
}
html {
  background-color: #fbfbfb;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.header {
}

h1 {
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fbfbfb;
  text-align: center;
}
h2 {
  width: 263px;
  height: 13px;
  top: 135px;
  left: 31px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
