*,
*::before,
**::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fbfbfb;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .content {
    display: block;
    position: center;
  }
}

.header {
  width: 600px;
  display: block;
  position: relative;
  padding: 1rem 2rem;
  background-color: #6a1cc3;
  margin-block: 0;
  margin-inline: auto;
}

.header-button {
  all: unset;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
}

h1 {
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: #fbfbfb;
  text-align: center;
}

h2 {
  font-size: 16px;
  display: grid;
  justify-content: space-around;
}

.section-students {
  display: block;
}

nav {
  display: grid;
  justify-content: space-around;
  padding: 5px 20px;
  background: #fbfbfb;
  list-style-type: none;
}
.fellow-students {
  display: grid;
  justify-content: space-around;
}
.search {
  display: grid;
  justify-content: space-around;
}

nav {
  display: grid;
  grid-template: column;
  justify-content: space-around;
}

.full-students {
  padding: 8px;
}
.strong {
  text-decoration-line: none;
}
a {
  text-decoration: none;
}
span {
  text-decoration-line: underline;
}
