*,
*::before,
**::after {
  box-sizing: border-box;
}
html {
  background-color: #fbfbfb;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .content {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  background-color: #6a1cc3;
  margin-block: 0;
  margin-inline: auto;
}

.header-button {
  all: unset;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

h1 {
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fbfbfb;
  text-align: center;
}
h2 {
  width: 263px;
  height: 13px;
  top: 135px;
  left: 31px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.student-git {
  display: grid;
  grid-template-columns: ;
}
